html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    background-color: #000000;
}

.row {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    position: relative;
  }

.app-logo {
    animation: app-logo-scale infinite 4s linear;
    height: 80px;
    width: 80px;
}

.app-header {
    background-color: #000;
    height: 130px;
    color: aliceblue;
}

.app-title {
    font-size: 24px;
    width: 100%;
    font-weight: 100;
    text-align: center;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.app-footer {
    background-color: #000000;
    height: 30px;
    padding: 10px;
}

.footer-text {
    color: aliceblue;
    padding-left: 20px;
    font-size: 14px;
}

.environment-area {
    /* width: 94%; */
    /* height: 510px; */
    /* margin: 20px auto; */
}

.particules {
    background-color: aliceblue;
    overflow: hidden;
}

.cell {
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
}

.cell-empty {
    background-color: white;
}

.cell-black {
    background-color: black ;
}

.cell-red {
    background-color: red ;
}

.game-buttons {
    width: 100%;
    margin-top: 20px;
}

@keyframes app-logo-scale {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
}